@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; }

.button:link, .button:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 30px;
  transition: all 0.3s; }

.button:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }

.button:active {
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }

.about {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about__img {
    width: 20rem; }
  .about__content {
    margin-left: 6rem;
    text-align: center;
    width: 40%; }
  .about__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem; }
  .about__text {
    font-size: 1.6rem;
    margin-bottom: 3rem; }

.footer {
  position: absolute;
  background-color: black;
  width: 100%;
  padding: 3rem 0;
  bottom: auto; }
  .footer__content {
    display: flex;
    justify-content: center; }
  .footer__logo {
    display: inline-block;
    width: auto;
    text-align: center; }
    .footer__logo--img {
      width: 15%; }
  .footer__copyright {
    text-align: center;
    color: #fff; }

.header {
  height: 65vh;
  background-image: url(/img/header_img.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__text {
    color: #fff; }
  .header__heading, .header__subheading {
    display: block;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5rem; }
  .header__heading {
    font-size: 4rem;
    margin-bottom: 1rem; }
  .header__subheading {
    font-size: 2.5rem; }
