@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; }

.button:link, .button:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 5rem;
  transition: all 0.3s; }

.button:hover {
  transform: translateY(-0.7rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4); }

.button:active {
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }

.rule {
  border: none;
  border-top: 0.1rem solid #fff;
  border-radius: 3rem;
  width: 60%;
  margin: 0 auto; }

.about {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: column; }
  .about__img {
    width: 20rem; }
  .about__content {
    text-align: center;
    margin-left: 6rem;
    width: 85%; }
    @media (max-width: 75em) {
      .about__content {
        margin-left: 0;
        margin-top: 2rem; } }
  .about__main {
    margin: 0 auto;
    width: 60%; }
  .about__heading {
    display: inline-block;
    font-size: 4rem;
    margin: 2rem;
    margin-bottom: 1rem; }
  .about__checkbox {
    display: none; }
  .about__extra {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 4rem; }
  .about__link:link, .about__link:visited {
    text-decoration: none;
    color: #1f3094; }
  .about__button {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    margin: 4rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
    .about__button--icon {
      font-size: 1.6rem;
      transition: all 0.3s; }
  .about__work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin: 2rem; }
    @media (max-width: 75em) {
      .about__work {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3rem; } }
  .about__item {
    background-color: #bbbbbb;
    border-radius: 5px;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    flex-direction: column; }
    .about__item--heading {
      font-size: 2.5rem; }
    .about__item--description {
      font-size: 1.6rem;
      margin: 2rem;
      width: 80%; }
    .about__item:hover {
      transform: translateY(-0.6rem);
      box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4); }
  .about__icon {
    font-size: 4rem;
    margin: 2rem;
    margin-bottom: 0; }
  .about__text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    line-height: 150%; }
  .about__checkbox:checked ~ .about__extra {
    position: static;
    visibility: visible;
    opacity: 1; }
  .about__checkbox:checked ~ .about__button .about__button--icon {
    transform: rotate(180deg); }

.contact {
  background-color: #848484;
  padding: 6rem;
  text-align: center; }
  .contact__heading {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .contact__heading {
        font-size: 4rem; } }
  .contact__icon {
    font-size: 1.6rem; }
    .contact__icon:not(:last-child) {
      margin-bottom: 1rem; }
  .contact__link:link, .contact__link:visited {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
    display: inline-block; }
  .contact__link:hover {
    transform: translateY(-0.3rem); }

.footer {
  position: absolute;
  background-color: black;
  width: 100%;
  padding: 3rem 0;
  bottom: auto; }
  .footer__content {
    display: flex;
    justify-content: center; }
  .footer__logo {
    display: inline-block;
    width: auto;
    text-align: center; }
    .footer__logo--img {
      width: 15%; }
  .footer__copyright {
    text-align: center;
    color: #fff; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  height: 65vh;
  background-image: url(../img/header_img.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; }
  .header__text {
    color: #fff;
    width: 80%; }
  .header__heading, .header__subheading {
    display: block;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5rem; }
  .header__heading {
    font-size: 4rem;
    margin-bottom: 1rem; }
  .header__subheading {
    font-size: 2.5rem; }

.navigation {
  position: absolute;
  width: 100%;
  z-index: 200; }
  .navigation__background {
    background-color: #000;
    position: fixed;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    width: 100%;
    border-radius: 50%;
    z-index: 300;
    width: 3rem;
    height: 3rem;
    top: 3rem;
    right: 4rem;
    visibility: hidden; }
    @media (max-width: 56.25em) {
      .navigation__background {
        visibility: visible; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 6rem;
    width: 6rem;
    position: fixed;
    border-radius: 50%;
    z-index: 500;
    top: 2rem;
    visibility: hidden;
    right: 3rem;
    cursor: pointer;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.4); }
    @media (max-width: 75em) {
      .navigation__button {
        visibility: visible; } }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__icon {
    position: relative;
    margin-top: 3rem;
    margin-left: 1.7rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2.6rem;
      height: 0.3rem;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }
  .navigation__bar {
    display: flex;
    padding: 0.8rem;
    justify-content: space-between; }
  .navigation__logo {
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center; }
    @media (max-width: 75em) {
      .navigation__logo {
        display: none; } }
  .navigation__list {
    list-style: none;
    display: flex; }
    @media (max-width: 75em) {
      .navigation__list {
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        visibility: hidden;
        transform: translate(-50%, -50%);
        transition: all 1s;
        opacity: 0;
        z-index: 400; } }
  .navigation__checkbox:checked ~ .navigation__list {
    visibility: visible;
    opacity: 1;
    display: flex; }
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-right: 3rem; }
    @media (max-width: 75em) {
      .navigation__item {
        margin-right: 0;
        margin-bottom: 5rem; } }
  .navigation__link {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s; }
    .navigation__link:hover {
      transform: translateY(-0.3rem) scale(1.1); }
    .navigation__link::after {
      content: "";
      display: block;
      height: 2px;
      width: 0;
      background-color: #fff;
      transition: all 0.3s; }
    .navigation__link:hover:after {
      width: 100%; }
    @media (max-width: 56.25em) {
      .navigation__link {
        font-size: 4rem; } }

.sticky {
  background-color: #000;
  position: fixed;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .sticky {
      background-color: transparent;
      box-shadow: none; }
      .sticky .navigation__logo {
        visibility: hidden;
        display: none; } }

.projects {
  padding: 6rem;
  background-color: #3d3d3d;
  text-align: center; }
  .projects__heading {
    margin: 2rem;
    color: #fff;
    font-size: 4rem; }
  .projects__link {
    display: block;
    text-decoration: none; }
  .projects__wrapper {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem; }
    @media (max-width: 37.5em) {
      .projects__wrapper {
        grid-template-columns: repeat(1, 1fr); } }
  .projects__box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    transition: all 0.3s; }
    .projects__box:hover {
      transform: translateY(-0.5rem); }
  .projects__box:hover .projects__img {
    filter: blur(2px);
    -webkit-filter: blur(2px); }
  .projects__box:hover .projects__icon {
    visibility: visible;
    opacity: 1; }
  .projects__name {
    margin-top: 1rem;
    color: #000;
    font-size: 1.6rem; }
  .projects__img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s; }
  .projects__icon {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s; }

.skills {
  background-color: #3d3d3d;
  color: #fff;
  padding: 6rem;
  text-align: center; }
  .skills__heading {
    font-size: 4rem;
    margin: 2rem; }
    @media (max-width: 37.5em) {
      .skills__heading {
        font-size: 4rem; } }
  .skills__subheading {
    margin: 2rem;
    font-size: 2.5rem; }
  .skills__box-large {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem; }
    @media (max-width: 56.25em) {
      .skills__box-large {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem; } }
  .skills__box-small {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem; }
  .skills__icon > * {
    display: inline-block;
    width: 6rem; }
  .skills__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    filter: grayscale(100%);
    transition: all 0.2s; }
    @media (max-width: 75em) {
      .skills__icon {
        filter: none; } }
  .skills__icon:hover {
    transform: translateY(-0.2rem) scale(1.1);
    filter: none; }

.work {
  padding: 6rem;
  background-color: #fff; }
  @media (max-width: 37.5em) {
    .work {
      padding: 6rem 0; } }
  .work__box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction: column; }
  .work__row {
    background-color: #bbbbbb;
    width: 80%;
    border-radius: 3px;
    padding: 2rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s; }
    .work__row:not(:last-child) {
      margin-bottom: 3rem; }
    .work__row:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 3em 2rem rgba(0, 0, 0, 0.4); }
  .work__heading {
    margin-bottom: 2rem;
    font-size: 4rem;
    padding: 0 auto;
    text-align: center; }
  .work__job {
    font-size: 2.5rem; }
  .work__date {
    margin-bottom: 1rem;
    font-size: 1.6rem; }
  .work__description {
    font-size: 1.6rem; }

.project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  height: 100vh;
  width: 100%;
  background-image: url("../img/header_img.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem; }
  .project1__content {
    padding: 6rem;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    width: 110rem;
    border-radius: 5px;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4); }
    @media (max-width: 75em) {
      .project1__content {
        flex-direction: column;
        padding: 2rem;
        width: 80%; } }
  .project1__heading {
    font-size: 4rem; }
  .project1__description, .project1__list {
    font-size: 1.6rem;
    line-height: 150%; }
  .project1__text {
    width: 40%; }
    @media (max-width: 75em) {
      .project1__text {
        width: 100%; } }
  .project1__description {
    margin-bottom: 2rem; }
  .project1__list {
    padding-left: 2rem; }
  .project1__img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center; }
    .project1__img--big {
      width: 50rem;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
      transition: all 0.2s; }
      .project1__img--big:hover {
        transform: translateY(-1rem);
        box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4); }
      @media (max-width: 75em) {
        .project1__img--big {
          margin-top: 2rem;
          width: 100%; } }
      @media (max-width: 37.5em) {
        .project1__img--big {
          display: none; } }
  .project1__buttons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem; }
    @media (max-width: 75em) {
      .project1__buttons {
        font-size: 1.6rem; } }
  .project1__home {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center; }
