@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin largebox {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 3rem;
}

@mixin smallbox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 3rem;
}

@mixin phonemin {
	@media (min-width: 37.5em) {
		@content;
	}
}

@mixin phonemax {
	@media (max-width: 37.5rem) {
		@content;
	}
}

@mixin paddingdefault {
	padding: 6rem;
}

@mixin margindefault {
	margin: 2rem;
}

@mixin screen($brakepoint) {
	//600px
	@if $brakepoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}

	// 900px
	@if $brakepoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}

	//1200px
	@if $brakepoint == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}
}
