.footer {
	position: absolute;
	top: 100%;
	background-color: black;
	width: 100%;
	padding: 3rem 0;

	&__content {
		display: flex;
		justify-content: center;
	}

	&__logo {
		display: inline-block;
		width: auto;
		text-align: center;
		&--img {
			width: 15%;
		}
	}

	&__copyright {
		text-align: center;
		color: $color-white;
	}
}
