.skills {
	background-color: $color-secondary-dark;
	color: $color-white;
	padding: 6rem;
	text-align: center;

	&__heading {
		font-size: $subheading-font-size;
		margin: 1rem;

		@include phonemax {
			font-size: $heading-font-size;
		}
	}

	&__subheading {
		margin: 1rem;
		font-size: $default-font-size;

		@include phonemax {
			font-size: $subheading-font-size;
		}
	}

	&__box-large {
		margin-bottom: 2rem;
		@include largebox;

		@include phonemax {
			@include smallbox;
		}
	}

	&__box-small {
		margin-bottom: 2rem;
		@include smallbox;
	}

	&__icon > * {
		display: inline-block;
		width: 6rem;
	}

	&__icon {
		@include flexcenter;
		filter: grayscale(100%);
		transition: all 0.2s;

		@include phonemax {
			filter: none;
		}
	}

	&__icon:hover {
		transform: translateY(-0.2rem) scale(1.1);
		filter: none;
	}

	hr {
		border: none;
		border-top: 0.1rem solid $color-white;
		border-radius: 3rem;
		width: 60%;
		margin: 0 auto;
	}
}
