.skills {
	background-color: $color-secondary-dark;
	color: $color-white;
	@include paddingdefault;
	text-align: center;

	&__heading {
		font-size: $heading-font-size;
		@include margindefault;

		@include screen(phone) {
			font-size: $heading-font-size;
		}
	}

	&__subheading {
		@include margindefault;
		font-size: $subheading-font-size;
	}

	&__box-large {
		margin-bottom: 2rem;
		@include largebox;

		@include screen(tab-port) {
			@include smallbox;
		}
	}

	&__box-small {
		margin-bottom: 2rem;
		@include smallbox;
	}

	&__icon > * {
		display: inline-block;
		width: 6rem;
	}

	&__icon {
		@include flexcenter;
		filter: grayscale(100%);
		transition: all 0.2s;

		@include screen(tab-land) {
			filter: none;
		}
	}

	&__icon:hover {
		transform: translateY(-0.2rem) scale(1.1);
		filter: none;
	}
}
