.work {
	@include paddingdefault;
	background-color: $color-white;

	@include phonemax {
		padding: 6rem 0;
	}
	&__box {
		@include flexcenter;
		flex-direction: column;
	}

	&__row {
		background-color: $color-secondary-light;
		width: 80%;
		border-radius: 3px;
		padding: 2rem;
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
		transition: all 0.3s;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		&:hover {
			transform: scale(1.1) translateY(-0.2rem);
		}
	}

	&__heading {
		margin-bottom: 2rem;
		font-size: $subheading-font-size;
		padding: 0 auto;
		text-align: center;

		@include phonemax {
			font-size: $heading-font-size;
		}
	}

	&__job {
		font-size: $subheading-font-size;
	}

	&__date {
		margin-bottom: 1rem;
		font-size: $default-font-size;
	}

	&__description {
		font-size: $default-font-size;
	}
}
